body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.Birdie_bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.Birdie_bgimg-1 {
    background-image: url("/pictures/birdie%20background.png");
    background-color: skyblue;
    min-height: 100%;
}

/* First picture of home screen */
.birdieHome{
    height: 100%;
    max-width: 400px;
    width: 100%;    
    padding-bottom: 5%;
    padding-top: 5%;
}

.birdieOverview{
    height: 100%;
    max-width: 1200px;
    min-width: 400px;
    padding-top: 3%;
    padding-bottom: 5%;
    max-height: 4500px;
    width: 100%;
    padding-right: 3%;
    padding-left: 39%;
    margin: 0 auto;
}

.birdieSmallOverview{
    max-width: 400px;
    margin: 0 auto;
}

.hyperlink{
    color:floralwhite;
}

@media (max-width: 780px){
    
    .birdieOverview{
            height: 100%;
    max-width: 1000px;
    min-width: 200px;
    padding-top: 3%;
    padding-bottom: 5%;
    max-height: 4500px;
    width: 100%;
    margin: 0 auto;
        padding-left: 50%;
    }
}


