body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/pictures/pencil%20shavings.jpg");
    background-color: skyblue;
    min-height: 100%;
    min-width: 80%;
}

.myLogo{
    max-width: 50%;
}

.myLogoText{
    height: 100%;
    max-width: 1200px;
    min-width: 400px;
    padding-top: 3%;
    padding-bottom: 5%;
    max-height: 4500px;
    width: 100%;
    padding-right: 5%;
    padding-left: 40%;
    margin: 0 auto;
}

.crowns{
    max-width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.crownsText{
    height: 100%;
    min-width: 400px;
    max-width: 1200px;
    width: 100%;
     margin: 0 auto;
    padding-left: 40%;
    padding-right: 5%;  
    padding-bottom: 5%;
    padding-top: 2%;
    max-height: 4500px;
}

.halfandhalf{
    background: linear-gradient(
    to right,
        #ffffff 0%,
        #ffffff 50%,
        #3C989E 50%,
        #3C989E 50%
    );
}

.hyperlink{
    color:floralwhite;
}

