body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.myLogo{
    max-width: 50%;
}

.myLogoText{
    height: 100%;
    max-width: 1200px;
    min-width: 400px;
    padding-top: 3%;
    padding-bottom: 5%;
    max-height: 4500px;
    width: 100%;
    padding-right: 3%;
    padding-left: 39%;
    margin: 0 auto;
}

.hyperlink{
    color:floralwhite;
}

